@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
  display: block;
}

.slick-prev:before, .slick-next:before {
    display: none !important;
}

.news_header > h1,h2,h3,h4,h5,h6,p,strong,em{
  background-color: transparent !important;
}

/*.news_text_dark > h1,h2,h3,h4,h5,h6,p,strong,em{
  color: rgb(203 213 225) !important;
}

.news_text > h1,h2,h3,h4,h5,h6,p,strong,em{
  color: black !important;
}*/

