@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: url("../public/images/bgImage1.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-background {
  background-image: url("../public/images/bgImage2.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mission-vision-background {
  background-image: url("../public/images/bgImage4.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-background {
  background-image: url("../public/images/aboutBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (min-width: 768px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }